body,
html {
  width: 100%;
  height: 100%; 
}

body {
	background-position: center;
	background-image: url(virtual.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;	
}

h2 {
	font-size: 70px;
	text-align: center;
	/*font-style: italic;*/
	font-family: 'Ubuntu', sans-serif;
	color: #69F9F4;  /*#FDFF6B;*/
	text-shadow: 4px 5px #2A6E9E;
}

h3 {
	font-size: 45px;
	text-align: center;
	color: white;
	font-family: 'Montserrat', sans-serif;
}

hr {
  max-width: 65px;
  border-width: 3px;
  /*border-color: #F05F44; */
}

/* Places the button on the center of screen */
div {
	text-align: center;
}

header.startup hr {
  margin-top: 100px;
  margin-bottom: 150px;
}

.btn {
	border-radius: 300px;
}

/*.btn-xl {
  padding: 1rem 2rem; 
}*/

.btn-warning:hover {
	color: #ECF2FF;
}